/* 1024 - Tablet Landscape */
/* 768 - Tablet Portrait */
/* 599 - Phone Landscape */
/* 375 - Phone Portrait */
/* 320 - min */


@media only screen and (max-width:1294px) {
    .price {font-size: 24px;}
}

@media only screen and (max-width:1287px) {
    .text_line {display: inline;}
}

@media only screen and (max-width:1274px) {    
    .sitemap br {display: block;}
}

@media only screen and (max-width:1246px) {
    .footer_copy {padding-right: 0;}
}

@media only screen and (max-width:1063px) {
    .footer_menu li {font-size: 12px;}
}

/* 1024 - Tablet Landscape */
@media only screen and (max-width:1024px) {    
    /* gnb */
    .header_wrap {width: 100%;}    
    .header_logo {margin-left: 30px;}
    .header_lang {margin-right: 30px;}

    /* lnb */
    .lnb >li {width: 150px; padding-right: 20px;}
    .lnb_section p {font-size: 12px;}
    .depth_blank::before {width: 150px;}

    /* Sitemap */
    .sitemap ul {width: 100%;}
    .sitemap ul li:nth-of-type(1) {margin-left: 30px;}
    

    
    /* main */
    .main_content {padding: 69px 30px 80px;}
    .content_summary li {padding: 0 1.574803%;}
    .icon_arrow {font-size: 13px;}
    .icon_arrow::after {top: 8px; right: -15px;}
    .icon_arrow:hover::after {top: 4px; right: -20px;}
    .figure::before {margin-right: 0;}
    
    .content_service {margin-top: 69px;}
    .content_service li {width: 50%; padding-top: 37.406716%;}
    .content_support {margin-top: 80px;}
    .support_info p {margin-bottom: 80px;}

    /* footer */
    .footer_wrap {width: 100%; padding: 36px 0 50px;}
    .footer_logo {margin-left: 30px;}
    .footer_copy {display: none;}
    .footer_copy_tablet {display: block;}
    .affiliate_box {margin-right: 30px;}    
}

@media only screen and (max-width:838px) {
    .sitemap .depth_title {font-size: 14px;}
    .sitemap p {font-size: 13px;}
}

@media only screen and (max-width:785px) {
    .sitemap ul li:nth-of-type(4) .depth_title:nth-of-type(4) {font-size: 13px;}
}

/* 768 - Tablet Portrait */
@media only screen and (max-width:768px) {
    /* gnb */
    .p_eb {font-size: 13px;}
    nav ul li:last-child p::before {right: -18px}

    .sitemap ul li {margin-left: 2%;}

    /* lnb */
    .lnb >li {width: 120px; padding: 28px 15px 0 15px;}
    .lnb_section p {font-size: 11px;}
    .depth_blank::before {width: 120px; left: -15px;}
    /*.lnb_section:nth-of-type(1) p:nth-of-type(1) {font-size: 10px;}*/
    
    /* slide */
    .button_prev {right: 91%;}
    .button_next {left: 91%;}   
    .content_h1 {width: 80%;}
    .content_hr {width: 80%;}
    .content_p {width: 80%;}

    /* main */
    .content_summary {flex-wrap: wrap;}
    .content_summary li {width: 50%; padding: 1.574803%;}    
    .content_summary li:nth-of-type(1) {padding-left: 1.574803%;}
    .content_summary li:nth-of-type(2) {border-right: none;}
    .content_summary li:nth-of-type(3) {border-top: 1px solid #efefef;}
    .content_summary li:nth-of-type(4) {border-top: 1px solid #efefef; width: 50%;}

    .content_summary li:nth-of-type(2) .news_box {overflow: visible;}

    .support_list_container {flex-wrap: wrap;}
    .support_list {width: 50%;}
    .support_list_container .support_list:nth-of-type(2) {border-right: none;}
    .support_list_container .support_list:nth-of-type(3) {border-top: 1px solid #efefef;}
    .support_list_container .support_list:nth-of-type(4) {border-top: 1px solid #efefef;}
    .developers {margin-top: 30px;}
    .flowers {margin-top: 30px;}
}

@media only screen and (max-width:685px) {    
    .lnb:nth-of-type(2) .lnb_section:nth-of-type(1) {padding-right: 12px;}
    
    .sitemap ul li {width: 16.6%; margin-left: 0;}
    
    .sitemap h6 {font-size: 18px;}
    .sitemap .depth_title {font-size: 13px;}
    .sitemap p {font-size: 12px;}
    .sitemap ul li:nth-of-type(4) .depth_title:nth-of-type(4) {font-size: 12px;}
    #arrow_white_sitemap::before {content: none;}
}

/* 599 - Phone Landscape */
@media only screen and (max-width:599px) {
    /* gnb */
    nav {display: none;}
    .header_lang a {display: none;}

    /* slide */
    .button_prev {right: 89%;}
    .button_next {left: 89%;}  
    .content_h1 {width: 75%;}
    .content_hr {width: 75%;}
    .content_p {width: 75%;}

    .content_h1 {text-align: center; justify-content: center; height: 78%; font-size: 26px;}
    .content_hr {display: none;}

    .content_p {display:flex; justify-content: center; align-items: center;}
    .content_p >p:nth-of-type(1) {display: none;}
    .content_p img {display: none;}

    .bg_img_01 {background-image: url(../img/slide1m.png);}
    .bg_img_02 {background-image: url(../img/slide2m.png);}
    .bg_img_03 {background-image: url(../img/slide3m.png);}
    .bg_img_04 {background-image: url(../img/slide4m.png);}


    /* main */
    .content_summary li {width: 100%; display: flex; justify-content: space-between; border-right: none; padding: 20px 1.574803%;}
    .content_summary li:nth-of-type(1) .icon_arrow {display: none;}
    .content_summary li:nth-of-type(2) {border-top: 1px solid #efefef;}
    .content_summary li:nth-of-type(2) .news_box {display: none;}
    .content_summary li:nth-of-type(3) .icon_arrow {display: none;}
    .content_summary li:nth-of-type(4) {width: 100%;}
    .content_summary li:nth-of-type(4) .news_box {display: none;}
    
    .summary_title {line-height: 24px;}
    .news_box {margin: 0 0 0 30px;}
    .icon_arrow {margin-right: 30px;}
    .stock_box {width: auto; height: auto; margin: 0 15px 0 0;}
    .stock_price {border-bottom: none; padding-bottom: 0; align-items: flex-end;}
    .price {line-height: 24px;}
    .figure {margin-top: 0;}
    #date {display: none;}
    
    .content_service li {width: 100%; padding-top: 74.813432%;}
    
    .support_list {width: 100%; padding: 20px 0; border-right: none;}

    .support_list a {padding: 0 0 31px 120px; text-align: left;}
    .support_info h3 {font-size: 24px;}
    .support_info p {display: none;}
    
    .support_list_container li a::before {left: 50px;}
    .support_list_container .support_list:nth-of-type(2) {border-top: 1px solid #efefef;}
    .developers {margin-top: 0;}
    .flowers {margin-top: 0;}

    /* footer */
    .footer_menu {display: none;}
    .footer_menu_mobile {display: flex; justify-content: center;}

    .footer_wrap {padding: 36px 0 0px;}
    .footer_menu_mobile {padding: 20px 0;}   
}

@media only screen and (max-width:420px) {
    .button_prev {right: 85%;}
    .button_next {left: 85%;}  
    .content_h1 h1 {font-size: 28px; word-break: keep-all;}
    .support_info h3 {font-size: 22px;}

    .footer_copy_tablet img {width: 300px;}
}

@media only screen and (max-width:330px) {    
    .support_info h3 {font-size: 18px;}
    .support_list dd {font-size: 12px;}
    .footer_menu_mobile li {font-size: 12px;}
}